<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865467467489-7ja7lmostv6jei6r589rndlnbrr1vlg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865467467489-7ja7lmostv6jei6r589rndlnbrr1vlg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDeL09YDnpGpkmTelwl_8Cai7-eXZfSdoU</string>
	<key>GCM_SENDER_ID</key>
	<string>865467467489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soda4thHapit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-63627</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-63627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865467467489:ios:f6ea49ef8bc4cb05c559a0</string>
</dict>
</plist>